body{
    margin:0;
    padding:0;
}

*{
    box-sizing: border-box;
}

.score1 {
    width: 400px;
    font-size: 3em;
    font-weight: 700;
    color: white;
    background-color: darkblue;
    border-radius: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.score2 {
    width: 400px;
    font-size: 3em;
    font-weight: 700;
    color: white;
    background-color: green;
    border-radius: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.score3 {
    width: 400px;
    font-size: 3em;
    font-weight: 700;
    color: white;
    background-color: orange;
    border-radius: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.score4 {
    width: 400px;
    font-size: 3em;
    font-weight: 700;
    color: white;
    background-color: orangered;
    border-radius: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.score5 {
    width: 400px;
    font-size: 3em;
    font-weight: 700;
    color: white;
    background-color: darkred;
    border-radius: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}

